html, body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    background-image: url('https://images.unsplash.com/photo-1497644083578-611b798c60f3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');  /* URL da imagem */
    margin: 0;
    padding: 0;
    height: 100%;
}


header {
    padding: 20px;
    color: darkred;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
     
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.categorias {
    display: flex;    
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.categoria a {
    display: block;
    padding: 10px 20px;
    background-color:darkred;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.categoria a:hover {
    background-color:rgba(255, 0, 0, 0.856);
}

